body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #311b92, #00bcd4);
}

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  color: #311b92;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
}

main {
  padding: 20px;
}

.projects-section h2 {
  text-align: center;
}
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card h3 {
  color: #311b92;
  margin-bottom: 10px;
}

.card a {
  display: inline-block;
  background-color: #00bcd4;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card a:hover {
  background-color: #0097a7;
}

.card div.tag {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 0px;
  left: 0px;
}

.card a.tag:hover {
  background-color: #333333; /* Darker background color on hover */
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #311b92;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content p {
  margin: 0;
  flex-grow: 1;
}

.social-icons img {
  height: 24px;
  margin-left: 10px;
}
