@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  background-color: rgb(255, 255, 255);
  border: solid black 2px;
  border-radius: 10px;
  padding: 20px;
}
.main-div {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
select {
  padding: 5px;
}

h2 {
  margin-bottom: 10px;
  padding-top: 30px;
  text-align: center;
}

.result {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  text-align: center;
  margin: 10px;
  font-size: 20px;
  font-weight: 700;
  color: red;
}

.degrees {
  padding-top: 10px;
  text-align: center;
  display: flex;
  gap: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#btn {
  /* text-align: center; */
  background-color: rgb(43, 83, 226);
  color: white;
  padding: 10px;
  font-size: medium;
  border-radius: 3px;
}
