/* styles.css */
body {
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #007bff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #007bff;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #007bff;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

#qrcode {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #808080;
}
